@import "mixin/flexible";
.sprite {
    display: inline-block;
    background-repeat: no-repeat;
}
.icon-sprite-a {
    .sprite;
    background-image: url("../images/spritesheet/spritesheet.png");
    .px2rems(background-size,400px,400px);
    .px2rems(background-position,0px,0px);
    .px2rem(width,200px);
    .px2rem(height,200px);
}
.icon-sprite-angel {
    .sprite;
    background-image: url("../images/spritesheet/spritesheet.png");
    .px2rems(background-size,400px,400px);
    .px2rems(background-position,-200px,0px);
    .px2rem(width,200px);
    .px2rem(height,200px);
}
.icon-sprite-cool {
    .sprite;
    background-image: url("../images/spritesheet/spritesheet.png");
    .px2rems(background-size,400px,400px);
    .px2rems(background-position,0px,-200px);
    .px2rem(width,200px);
    .px2rem(height,200px);
}
.icon-sprite-o {
    .sprite;
    background-image: url("../images/spritesheet/spritesheet.png");
    .px2rems(background-size,400px,400px);
    .px2rems(background-position,-200px,-200px);
    .px2rem(width,200px);
    .px2rem(height,200px);
}
